.classificados_input{
    width: 70%;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    text-align: center;
    font-size: 0.9rem;
}

.classificados_textarea{
    width: 70%;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    text-align: center;
    font-size: 1.2rem;
}

textarea {
    resize: none;
    overflow: hidden;
}

.invalidText{
    border-bottom: 2px solid rgb(212, 13, 13);
}


@media(max-width:780px){    
    .classificados_input,
    .classificados_textarea{
        width: 100%;
    }
}   